$lightMain: #bba792;
$MainColor: #fcf7ef;
$darkMain: #8c7965;
$black: #4c4c4c;
$gray: #7c818a;
<<<<<<< HEAD
$openSans: 'Open Sans', sans-serif;
=======
$font: 'Open Sans', sans-serif;
>>>>>>> master

@import 'indexmenu';
