#gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  font-family: "Open Sans", sans-serif;
}

#indexHeader {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
}

#indexHeader figure {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

#indexHeader figure img {
  width: 40%;
}

#indexHeader nav {
  grid-column: 7 / 13;
  grid-row: 1 / 2;
  text-align: right;
}

#indexHeader nav ul {
  padding: 50px 30px 0 0;
}

#indexHeader nav ul li {
  display: inline;
  text-decoration: none;
  padding: 0 30px 0 0;
}

#indexHeader nav ul li a {
  color: #8c7965;
  text-decoration: none;
}

#indexSection {
  grid-column: 1 / 13;
  grid-row: 2 / 3;
}

#indexSection img {
  width: 100%;
  margin: auto;
}

.left {
  grid-column: 1 / 7;
}

.left figure img {
  width: 100%;
}

.right {
  grid-column: 7 / 13;
}

.right figure img {
  width: 100%;
}

#contact {
  grid-columns: 1 / 7;
  grid-row: 3 / 4;
}
